@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

html {
  visibility: hidden;
}

body {
  color: white;
  position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  align-self: center;
  background-color: white;
  font-family: 'Kanit', sans-serif;
  background-image: url("images/Background.png");
}

head {
  color: white;
}

h2 {
  text-align: center;
  align-items: center;
  text-shadow: -2px 2px white;
}

.calligimage {
  align-items: center;
  overflow: visible;
}

.minibutton {
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  margin-left: 5px;
  box-shadow: -2px 2px black;
}

.minibutton:hover {
  background-color: purple;
  color: #b651e0;
  transform: scale(1.1);
  opacity: 1;

}

.minibutton:active {
  background-color: purple;
  transform: translateY(4px);
}

.headbutton {
  background: transparent;
  border: 3px;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  float: left;
  margin: 5px;
  margin-bottom: 0px;
}

.headbutton:hover {
  background-color: purple;
  color: #b651e0;
  opacity: 1;

}

.headbutton:active {
  background-color: purple;
  transform: translateY(4px);
}


.footer {
  position: fixed;
  position: center;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 11px;
  font-family: 'Kanit', sans-serif;
  align-items: center;
  width: 100%;
}

.line {
  color: purple;
  border: 2px solid purple;
  width: 25%;
  position: absolute;
  border-radius: 30%;
  left: 37%;
}

.headline {
  display: block;
  height: 1px;
  border: 0;
  color: purple;
  width: 100%;
  position: fixed;
  border-top: 3px #b651e0 solid;
  border-radius: 30%;
}

.tos {
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  left: 0%;
  bottom: 0%;
  position: fixed;
}

.privpos {
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  right: 0%;
  bottom: 0%;
  position: fixed;
}

.ticket {
  padding: 10px;
  padding-top: 20px;
}


.cover {
  display: block;
  height: auto;
  max-width: 20%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.image {
  display: block;
  height: auto;
  max-width: 20px;
  margin-right: auto;
  margin-left: auto;
  display: inline;
}