@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
  color: #b651e0;
  position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  align-self: center;
  background-color: white;
  font-family: 'Kanit', sans-serif;
}

head {
  color: #b651e0;
}

h2 {
  text-align: center;
  align-items: center;
}

.button {
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin: auto;
  align-items: center;
}

.button:hover {
  background-color: purple;
  color: #b651e0;
  opacity: 1;

}

.button:active {
  background-color: purple;
  transform: translateY(4px);
}

.minibutton {
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.minibutton:hover {
  background-color: purple;
  color: #b651e0;
  opacity: 1;

}

.minibutton:active {
  background-color: purple;
  transform: translateY(4px);
}

.footer {
  position: fixed;
  position: center;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 11px;
  align-items: center;
  width: 100%;
}

.line {
  color: purple;
  border: 2px solid purple;
  width: 25%;
  position: absolute;
  border-radius: 30%;
  left: 37%;
}

.headline {
  color: purple;
  border: 3px solid purple;
  width: 100%;
  position: fixed;
  border-radius: 30%;
}

.login {
  position: absolute;
  text-align: center;
  font-size: 16px;
  align-items: center;
  top: 50%;
}

.logout {
  position: fixed;
  top: 10px;
  right: 10px;
}

.img-rounded {
  position: fixed;
  top: 10px;
  left: 10px;
}

.tos {
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
  left: 0%;
  bottom: 0%;
  position: fixed;
}

.privpos {
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
  right: 0%;
  bottom: 0%;
  position: fixed;
}

.ticket {
  padding: 10px;
  padding-top: 20px;
}

.input {
  align-items: center;
  position: relative;
  margin: auto;
  background-color: black;
  color: #b651e0;
  border-color: purple;
  padding: 3px;
  border-radius: 10px;
}

.hiddeninput {
  align-items: center;
  margin: 0%;
  background: transparent;
  border: none;
  color: #b651e0;
  position: relative;
}

.username {
  position: fixed;
  top: 15px;
  left: 60px;
}

.img-rounded {
  position: fixed;
  top: 10px;
  left: 15px;
}

.logout {
  position: fixed;
  top: 10px;
  right: 10px;
}

.home {
  position: fixed;
  top: 1%;
  left: 49%;
  background-color: purple;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.icon {
  width: 46px;
  height: auto;

}

.icon:hover {
  transform: scale(2);
}